.homeImg{
  max-height: 50vh;
  width: auto;
}

.homeComponent {
  padding-top : 5vh;
  min-height:calc(100vh - 122.33px);
}

h1{
  font-size: 4em;
  font-weight:bold;
  text-align: center;
  color: #112B5D;
  font-family: "Amatic SC", Arial;
  letter-spacing: 10px;
  margin-bottom:20px;
}

.picHome{
  text-align:center;
}

.commentHome{
  margin-top:15px;
  margin-bottom:15px;
}

.cardComment{
  background-image: url(https://i.postimg.cc/cCY5VHGW/e-toile-opacite-8.jpg);
}

.score{
  margin-bottom:0px;
}

.comment {
  font-style: italic;
}